# See the section "Passphrase notes" for more infos.
#where it will be stored

export BORG_REPO={{ hostvars[item.host].backup_user }}@{{ hostvars[item.host].backup_host}}:{{ hostvars[item.host].backup_location}}

