# initialise shared ssh key
ssh-copy-id -i /home{{ backup_user }}/.ssh/id_rsa.pub {{Borg_backup }}@{{ hostvars[ansible_nodename].backup_host}}


# See the section "Passphrase notes" for more infos.
#where it will be stored

export BORG_REPO={{ backup_user }}@{{ hostvars[ansible_nodename].backup_host}}:{{ hostvars[ansible_nodename].backup_location}}
export BORG_PASSPHRAS={{ borg_encryption_password }}

borg init --encryption=repokey $BORG_REPO

