#using TMPreaper to delete old TMP files

{% for directory in TMP_directories %}
    {% if directory.host == ansible_nodename %}
        
        tmpreaper --all --mtime --mtime-dir {{ directory.time }} {{ directory.path }} 

    {% endif %}
{% endfor %}    