# initialise shared ssh key
ssh-copy-id -i /home/{{ backup_user }}/.ssh/id_rsa.pub {{backup_user }}@{{ hostvars[ansible_nodename].backup_host}}


# See the section "Passphrase notes" for more infos.
#where it will be stored

export BORG_REPO={{ backup_user }}@{{ hostvars[ansible_nodename].backup_host}}:{{ hostvars[ansible_nodename].backup_location}}
export BORG_PASSPHRASE={{ borg_encryption_password }}
export BORG_RSH="ssh -i //home/{{ backup_user }}/.ssh/id_rsa"

borg init --encryption=repokey $BORG_REPO

#archive initialiation
borg init --encryption=repokey $BORG_REPO



# initialising for archive


sudo su {{backup_user}}
mkdir archive_mountpoint

export BORG_PASSPHRASE={{ borg_encryption_password }}
export BORG_REPO={{ backup_archive_usr_1 }}@{{ backup_archive_addres_1}}:{{ back_up_archive_path_1}}/{{ ansible_nodename }}

ssh {{ backup_archive_usr_1 }}@{{ backup_archive_addres_1 }} -i {{encrypted_ssh_private_key_archive}} 'mkdir {{  back_up_archive_path_1}}/{{ ansible_nodename }}'
sshfs -o IdentityFile={{encrypted_ssh_private_key_archive}} {{ backup_archive_usr_1 }}@{{ backup_archive_addres_1}}:{{  back_up_archive_path_1}}/{{ ansible_nodename }} archive_mountpoint

borg init --encryption=repokey $BORG_REPO

fusermount -u archive_mountpoint
rmdir archive_mountpoint