#!/bin/bash


{% for server in hostvars[ansible_nodename].ssh_connectivity %}

target={{ server.server }}
timestamp=$(date +%s%N)
ssh_stats=$(nmap $target | grep ssh)

if [[ $ssh_stats == *"open"* ]]
then
    succes=1
else
    succes=0
fi

echo "systems_online,system=ssh,host=${target} online_status=$succes ${timestamp}"

{%endfor%}

echo "telegraf_status,Host={{ ansible_nodename }},script=ssh_connectivity exit_status=$? ${timestamp}