[Unit]
Description=galaxy database backup
Requires=galaxy_database_backup.service

[Timer]
Unit=galaxy_database_backup.service
OnCalendar=fri 12:00
Persistent=true

[Install]
WantedBy=timers.target