[Unit]
Description=galaxy_database_backup
Wants=galaxy_database_backup.timer

[Service]
Type=oneshot
User=galaxy
ExecStartPre=/bin/bash /usr/bin/copy_galactic_database.sh
User=root
ExecStart=/bin/bash /usr/bin/galaxy_database_backup.sh

[Install]
WantedBy=multi-user.target

