[Unit]
Description=galaxy_database_backup
Wants=galaxy_database_backup.timer

[Service]
Type=oneshot

User=galaxy
ExecStartPre=pg_dump galaxy | gzip > {{ manual_database_backup }}/.galaxy_database.sql.gz
User=root
ExecStart=/bin/bash /usr/bin/galaxy_database_backup.sh
ExecStop=rm {{ manual_database_backup }}/.galaxy_database.sql.gz
[Install]
WantedBy=multi-user.target

