[Unit]
Description=Cocalc_backup
Requires=Cocalc_backup.service

[Timer]
Unit=Cocalc_backup.service
OnCalendar=fri 20:00
Persistent=true

[Install]
WantedBy=timers.target