server {
        listen 80 default_server;
        listen [::]:80 default_server;

        server_name "{{ HOSTNAME }}";

        #location / {
        #    return 302 https://$host$request_uri;
        #}

        location ~ ^/~(.+?)/secure(/.*)?$ {
                alias /home/$1/public_html/secure$2;
                index index.html index.htm;
                autoindex on;
                auth_pam                "Secure zone";
                auth_pam_service_name   "nginx";
        }

        location ~ ^/~(.+?)(/.*)?$ {
                alias /home/$1/public_html$2;
                index index.html index.htm;
                autoindex on;
        }
}
